/* ------------------------------------
 全体の設定 
------------------------------------*/
    html {
      scroll-behavior: smooth;
    }
    #header {
      display: flex;
      justify-content: space-between; /* 左右に配置 */
      align-items: center;            /* 高さ中央揃え */
      width: 100%;
      background-color: var(--main-color);    /* ← 背景色を header に付ける */
      padding: 0;
      box-sizing: border-box;
    }
/* カラーパレット→書き方を変更することで色の変更をカラーパレットのみでできる*/
    :root{
      --main-color: #A92708;   /* メインの赤 */
      --sub-color: #E9E3DD;    /* ベージュ */
      --text-color: #3C0F0A;   /* 文字色 */
      --hover-color: #ff8d8d;  /* ホバー時 */
      --shadow: 0 8px 24px rgba(16,16,16,0.06);
      --wrap-max: 1100px;
    }

/* 画面幅が600px以下の場合のスタイル */
    @media screen and (max-width: 600px) {
      .wrapper {
        display: flex;
        gap: 2%; /* カラム間の余白 */
      }
      #aside {
        flex: 1; /* 自動で分配 */
      }
      #main {
        flex: 1;
      }
    }
/* 画面幅が601px以上の場合のスタイル（タブレット以上） */
    @media screen and (min-width: 601px) {
      .wrapper {
        display: flex;
        gap: 2%;
      }
      #aside {
        flex: 1;
      }
      #main {
        flex: 1;
      }
    }

/* 画面幅が900px以上の場合のスタイル */
    @media screen and (min-width: 900px) {
      body {
        font-size: 18px;                          /* 文字サイズ */
        font-family: "Yu Mincho", "Times New Roman", serif;
      }
    }
    
    body {
      display: block;                             /* ブロックレベル要素として表示 */
      background-color: var(--sub-color);                 /* 背景色 */
      font-size: 16px;                            /* 文字サイズ */
      color: var(--text-color);                            /* 文字色 */
      max-width: 100%;                            /* 要素の幅の最大値 */
      margin: 0 auto;                             /* ブロックレベル要素を中央揃え */
      padding: 0;                                 /* 要素内部の余白 */
      overflow-x : hidden ;                       /* 横スクロールをできないようにする */
      width: 100%;
      height: 100%;
      font-family: "Yu Mincho", "Times New Roman", serif;
    }
    h1 { 
      font-size: 2.4rem; /* 24px */               /* 文字サイズ */
    }
    p {                                           /* 文字サイズ */
       font-size: 1.4rem; /* 14px */
    }
    hr {
      height: 2px;                                /* 高さを固定 */
      background-color: var(--main-color);                /* 背景色 */
      width: 100% ;                               /* 幅を固定 */
      border: none;                               /* 枠線を消す */
    }
  /* aタグの設定 */
    a {
      height:60px;                                 /* 高さを固定 */
      margin-right: 35px;                          /* 要素の外側の余白を設定 */
      margin-left:50px;                            /* 要素の外側の余白を設定 */
      color: var(--sub-color);                              /* 文字色 */
      text-decoration:none;
      letter-spacing:.1em;
      text-align: center;
    }
/* ------------------------------------
 section00：ナビゲーションバーの設定
------------------------------------*/
/* ナビゲーションの幅の設定 */
    .section00 {
      display: block;                              /* ブロックレベル要素として表示 */
      text-align: center;                          /* 内部のリンクテキストは中央揃え */
      width: 100%;                                 /* 幅を固定 */
      height: auto;                                /* 高さを固定 */
      background-color: var(--main-color);         /* 背景色 */
      }
    .hamburger {
      display: none; /* PCでは非表示 */
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      cursor: pointer;
      margin: 10%;
    }

    .hamburger span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: var(--sub-color);
      border-radius: 2px;
    }

    .header.nav {
        display: flex;                             /* 要素を横並びに */                      
        width: 100%;                               /* 幅を固定 */
        height: auto;                             /* 高さを固定 */
        margin: 0 auto;                            /* ブロックレベル要素を中央揃え */
        font-size: 15px;                           /* 文字サイズ */                          
        box-sizing: border-box;                    /* paddingやborderを含んで幅と高さを計算 */ 
        text-align: center;
        white-space: nowrap;                       /*テキストを１行表示にする*/
    }
/* 企業ロゴの設定 */
    .logo {
      width: 200px;         /* 基本サイズを固定 */
      max-width: 15%;       /* 画面がすごく狭い時だけ縮小 */
      height: auto;
    }
    .logo img {
      width: 100%;
      height: auto;  /* ←アスペクト比を維持 */
    }


/* テキストの設定 */
    ul.nav {
      display: flex;                              /* 要素を横並びに配置 */
      align-items: center;                        /* 縦軸基準で真ん中に配置 */
      justify-content: flex-end;                  /* コンテナ内で終端寄せ */
      width: 75%;                               /* 幅を固定 */
      height: auto;                              /* 高さを固定 */
      margin-right: 10px;
    }
    li {
      list-style: none;                          /* デフォルトマーカーを削除 */
      justify-content:flex-end;                  /* コンテナ内で終端寄せ */
    }

    nav li {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      /* li が小さくならないようにする */
      min-width: 5%;        /* ←ボタン幅を指定 */
      height: 50px;            /* 高さも固定するとクリック範囲が安定 */
      margin: 5px;
      border: solid 2px var(--sub-color);
      border-radius: 30px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 1.0);
      cursor: pointer;
    }
    nav ul li a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;   /* liいっぱいに広げる */
      height: 100%;  /* liいっぱいに広げる */
      text-decoration: none;
      color: var(--sub-color);
      white-space: nowrap;
    }
    .nav li:hover {
      background-color: var(--hover-color);                   /* 背景色 */
    }
    ul.nav.show {
      display: flex;
    }

/* スマホ用 */
    @media screen and (max-width: 600px) {
      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
      }

      /* 企業ロゴの設定 */
      .logo {
        width: 100%;         /* 基本サイズを固定 */
        max-width: 30%;       /* 画面がすごく狭い時だけ縮小 */
        height: auto;
      }
      .logo img {
        width: 100%;
        height: auto;  /* ←アスペクト比を維持 */
      }

      .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: var(--sub-color);
        border-radius: 2px;
      }

      #nav-menu {
        display: none; /* 初期は非表示 */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: var(--main-color);
        width: 250px;
        padding: 10px 0 0 0;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.2);
        z-index: 9999; /* ←これを追加 */
      }

      #nav-menu.show {
        display: flex !important; /* ハンバーガークリックで表示 */
      }
      #nav-menu li {
        width: 90%;             /* 横幅を統一 */
        text-align: center;      /* 文字を中央寄せ */
      }

      #nav-menu li a {
        display: block;          /* aタグ全体をボタン化 */
        padding: 20px 0 0 0;         /* 上下の余白を揃える */
        font-size: 16px;         /* 文字サイズを統一 */
        color: var(--sub-color); /* 色も好みに合わせて */
        text-decoration: none;
        text-align: center;
      }
    }


/* section12：footerの設定 */
    .section12{
      text-align: center;                          /* 内部のリンクテキストは中央揃え */
    }
    footer {
      display: flex;                                /* 要素を横並びに */
      position: relative;                          /* 要素の現在位置を基準にした相対位置に要素を配置 */ 
      text-align: center;                          /* 内部のリンクテキストは中央揃え */
      width: 100% ;                                /* 幅を固定 */
      height: auto;                               /* 高さを固定 */
      background-color: var(--main-color);                   /* 背景色 */
      color: var(--sub-color);                               /* 文字色 */
      padding: 30px 20px;                          /* 上下に30px、左右に20pxのスペースを設ける */
      text-align: center;                          /* 内部のリンクテキストは中央揃え */
      font-size: 15px;                             /* 文字サイズ */
      box-sizing: border-box;                      /* paddingやborderを含んで幅と高さを計算 */
    }
    .center10-container1 {
      display: flex;                               /* 要素を横並びに配置 */
      max-width: 800px;                            /* 要素の幅の最大値 */
      margin: 0 auto;                              /* ブロックレベル要素を中央揃え */
      justify-content: center;                     /* コンテナ内で中央寄せ */
      flex-wrap: nowrap;                           /* アイテムの折り返し */
      width: 90%;                                 /* 幅を固定 */
      height: 90%;                                 /* 高さを固定 */
      min-width: 20%;
    }
    .information-item {
      width: 40%;                                /* 幅を固定 */
      height: auto;                               /* 高さを固定 */
      flex: 1;               /* 残りスペースを均等に分ける */
      margin: 0 10px;        /* 要素間の余白 */
      white-space: nowrap;                       /*テキストを１行表示にする*/
    }
    .logo2 {
      width: 20%;                                  /* 幅を固定 */
      height: auto;                               /* 高さを固定 */
      margin-right: auto;                           /* 要素の外側の余白を設定 */
      margin-left: 5%;                            /* 要素の外側の余白を設定 */
    }
    .center10-container2 {
      color: var(--sub-color);                               /* 文字色 */
    }
    .footer-information {
      display: flex;                               /* 要素を横並びに配置 */
      justify-content: flex-end;                    /* コンテナ内で終端寄せ */
    }
    li {
      list-style: none;                            /* デフォルトマーカーを削除 */
    }
    
    /*ページトップボタンの設定*/
    #page-top {
      color: var(--sub-color);                              /* 文字色 */
      position: relative;                          /* 要素の現在位置を基準にした相対位置に要素を配置 */ 
      bottom: 0px;                                 /* 画面下からの距離 */
      padding: 30px 30px;                          /* 上下に30px、左右に30pxのスペースを設ける */
      background-color: var(--sub-color);                   /* 背景色 */
      color: var(--main-color);                              /* 文字色 */
      border-radius: 5px;                          /* 角の丸み */
      cursor: pointer;                             /* カーソル変化 */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) ;   /* 影の設定 */
    }
    #page-top:hover {
     background-color: var(--hover-color);                    /* 背景色 */
     color: var(--sub-color);                               /* 文字色 */
    }
/* タブレット・スマホ用（幅768px以下） */
    @media (max-width: 768px) {
      footer {
        display: flex;
        flex-wrap: wrap;          /* 横並びでも折り返し可能に */
        gap: 10px;                /* 要素間の余白 */
      }
      .footer-inner {
        flex-direction: column;
        align-items: center;
      }

      .logo2 {
        margin-top: 10%;
        width: 45%;  /* ロゴを大きくして画面に合わせる */
        height: 60%;
      }

      .footer-information {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap; /* 行が折り返す */
      }

      .information-item {
        width: 100%;
        margin: 5px 0;
        text-align: center;
      }
      footer {
        padding: 10px 10px; /* パディングを小さく */
      }
      .top-btn{
        margin: 20px;
      }
      #page-top {
        margin-top: 20px;
        padding: 15px 15px;
        font-size: 12px;
      }

      .information-item {
        font-size: 12px;
      }
    }